{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            {{ "<!-- Contact Details -->" | safeHTML }}
            <div class="col-12 col-md-6">
                <img class="img-fluid" src="{{ with .Site.Params.contact.cityMap }}{{.| absURL }}{{ end }}" alt="cityMap">
            </div>
            {{ "<!-- Contact Form -->" | safeHTML }}
            <div class="contact-form col-12 col-md-6 ">
                <form id="contact-form" method="post" action="sendmail.php" role="form">
                    <div class="form-group">
                        <input type="text" placeholder="Name / Имя" class="form-control" name="name" id="name">
                    </div>

                    <div class="form-group">
                        <input type="email" placeholder="E-mail / E-mail" class="form-control" name="email" id="email">
                    </div>

                    <div class="form-group">
                        <input type="text" placeholder="Subject / Тема" class="form-control" name="subject" id="subject">
                    </div>

                    <div class="form-group">
                        <textarea rows="6" placeholder="Message / Сообщение" class="form-control" name="message" id="message"></textarea>
                    </div>

                    <div id="mail-success" class="success">
                        Thank you. The Mailman is on His Way :)
                    </div>

                    <div id="mail-fail" class="error">
                        Sorry, don't know what happened. Try later :(
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="contact-submit" class="btn btn-transparent" value="Submit / Передать">
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block">
                <img class="img-fluid" src="/images/company/place-marker.png">
                    <h4>{{ with .Site.Params.contact.titleaddress }} {{ . | safeHTML }} {{ end }}</h4>
                    <p> {{ with .Site.Params.contact.address }}   <p>{{ . | safeHTML }}</p>{{ end }}</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="phone-block contact-meta-block">
                <img class="img-fluid" src="/images/company/outgoing-call.png">
                    <h4>{{ with .Site.Params.contact.titlephone }} {{ . | safeHTML }} {{ end }}</h4>
                    <p> {{ with .Site.Params.contact.phone }}   <p>{{ . | safeHTML }}</p>{{ end }}</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="social-icons-block contact-meta-block">
                <img class="img-fluid" src="/images/company/feedback.png">
                    <h4>{{ with .Site.Params.contact.titlemail }} {{ . | safeHTML }} {{ end }}</h4>
                    <p>{{ with .Site.Params.contact.mail }}    <p>{{ . | safeHTML }}</p>{{ end }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}