{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.service }}
    {{ if .enable }}
    {{ "<!-- Service Section Start -->" | safeHTML }}
    <section class="service-list section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                        {{ with .title }}<h2>{{.}}</h2><span class="border"></span>{{ end }}
                        {{ with .subtitle }}<p>{{.}}</p>{{ end }}
                    </div>
                </div>
            </div>
            <div class="row">
                {{ range .item }}
                <div class="col-md-4">
                    <div class="block">
                        <img class="img-fluid" src="{{.image | absURL }}">
                        <h3>{{ .title }}</h3>
                        <p>{{ .description }}</p>
                        <ul>
                            {{ range .list }}
                            <li>{{.name}}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    {{ "<!-- Service Section Start -->" | safeHTML }}
    {{ end }}
{{ end }}
